body {
	font-size: 62.5%;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.headline {
	@include font-size(3.8);
	text-align: center;
}

.input,
.output,
.digits,
.controls,
.minutes {
	text-align: center;
}

.start,
.stop,
.reset {
	display: none;
}