* {
	transition: .5s all ease;
	transition-property: background, border, color;
}

body {
    font-size: 62.5%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.headline {
    @include font-size(3.8);
    text-align: center;
    margin-bottom: 0;
}

.input,
.output,
.digits,
.controls,
.info {
    text-align: center;
}

.input,
.output {
    height: 125px;
    margin: 0 auto 20px;
	@include font-size(7.8);
}

.output {
    display: none;
}

.digits {
	margin-bottom: 20px;
}

.digit,
.control {
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    padding: 20px;
    background: white;
}

.controls {
    display: block;
}

.start,
.stop,
.reset {
    display: none;
}
